.header {
    background: $color__default;
    height: 100vh;
    @extend %flex-center;
    @extend %space-c;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}

.header__scroll-item {
    display: block;
    @include px(0, 25px);
    font-weight: 500;
    color: $color__white;
    
    &.header__scroll-item_first {
        z-index: 5;
        @include fs-lh(130px,160px);
        //@include fs-lh(55px,80px);
        text-transform: uppercase;
        font-family: 'Libre Franklin', sans-serif;

        background-color: rgb(168, 191, 197);
        width: 100%;
        transform: rotate(-15deg);
        @media (max-width:$desktop-width-l) {
            @include fs-lh(100px,120px);
        }

        @media (max-width:$desktop-width-s - 1) {
            @include fs-lh(100px,120px);
        }

        @media (max-width:$tablet-width-l) {
            @include fs-lh(80px,100px);
        }

        @media (max-width:$tablet-width-m) {
            @include fs-lh(70px,80px);
        }
        @media (max-width:$tablet-width-s) {
            @include fs-lh(40px,50px);
        }
    }

    &.header__scroll-item_second {
        z-index: 10;
        font-family: 'Cabin', sans-serif;
        @include fs-lh(165px,75px);
        font-weight: 300;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: $color__default;
        @media (max-width:$desktop-width-l) {
            @include fs-lh(140px,75px);
        }
        @media (max-width:$desktop-width-s - 1) {
            @include fs-lh(130px,65px);
        }
        @media (max-width:$tablet-width-l) {
            @include fs-lh(80px,100px);
        }
        @media (max-width:$tablet-width-m) {
            @include fs-lh(70px,80px);
        }
        @media (max-width:$tablet-width-s) {
            @include fs-lh(55px,40px);
        }
    }

    &.header__scroll-item_third {
        z-index: 5;
        font-family: 'Cabin', sans-serif;
       // @include my(150px,0);
        transform: rotate(-15deg);
        @include fs-lh(250px,80px);
        //@include fs-lh(45px,45px);

        background-color: rgb(168, 191, 197);
        width: 100%;
        @include py(10px);
        @media (max-width:$desktop-width-l) {
            @include fs-lh(180px,70px);
        }
        @media (max-width:$tablet-width-l) {
            @include fs-lh(80px,100px);
        }
        @media (max-width:$tablet-width-m) {
            @include fs-lh(70px,80px);
        }
        @media (max-width:$tablet-width-s) {
            @include fs-lh(65px,50px);
        }
    }
    &.header__scroll-item_fourth {
        z-index: 5;
        @include my(-400px,0);
        font-family: 'Cabin', sans-serif;
        font-style: italic;
        text-transform: uppercase;
        transform: rotate(25deg);
        @include fs-lh(155px,160px);

        background-color: rgb(168, 191, 197);
        width: 100%;
        @include py(10px);
        @media (max-width:$desktop-width-l) {
            @include fs-lh(140px,120px);
        }
        @media (max-width:$tablet-width-l) {
            @include fs-lh(100px,100px);
        }
        @media (max-width:$tablet-width-m) {
            @include fs-lh(70px,80px);
        }
        @media (max-width:$tablet-width-s) {
            @include fs-lh(40px,50px);
        }
    }
}